.cls1 {
    font-size: 100px;
}
.class123 {
    color: blue;
}
#header-element {
    color: yellow;
}

.my-forms .submit-input {
    background-color: red;
    color: white;
}

.cls1, .class123, .my-forms .submit-input {
    font-weight: bold;
}

#login-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 200px;
}

#login-form label {
    display: block;
    width: 200px;
}

#login-form .row {
    margin-bottom: 10px;
}

input.warning {
    background-color: yellow;
}

input.error {
    background-color: #fff1f0;
    border: solid 1px red;
}